:root{
    --font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e63946;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:    ". . ."
                            ". w ."
                            ". . .";
}

.wrapper {
    width: 100%;
    min-width: 365px;
    max-width: 400px;
    min-height: 350px;

    
    grid-area: w;
    background: #f1faee;
}

.title{
    height: 13%;
    min-height: 50px;
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
}

.img {
    background: #1D3557;
    height: 50%;
    position: relative;
    z-index: 1;
}

.player-data{
    padding: 0px;
    margin: 0px;
}

.play_button{
    display: grid;
    justify-content: center;
    align-content: center;
	width:60px;
	height:60px;
	bottom:60px;
	right:60px;
	background-color:#0C9;
	color:#FFF;
	border-radius: 100px;
    text-align: center;
}

#seekbar{
    width: 45%;
} 

#volume_ctrl{
    width: 6vw;
}

#audio_player{
    min-height: 200px;

}

h4, p{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    padding-left: 2%;
}

h4{
    font-size: 50px;
    font-weight: bold;
}

p{
    font-size: 25px;
    padding-bottom: 4px;
}

#current_duration{
    padding-left: 7px;
}

#btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}