:root{
    --font: 'Source Sans Pro', sans-serif;
    --primary: #212529;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e9ecef;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:    ". . ."
                            ". w ."
                            ". . .";
    font-family: var(--font);
}

.wrapper {
    width: 100%;
    min-width: 365px;
    max-width: 400px;
    min-height: 350px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 
    0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    grid-area: w;
    background: #dee2e6;
}

.title{
    height: 13%;
    min-height: 50px;
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
}

.img {
    background: #adb5bd;
    height: 50%;
    position: relative;
    z-index: 1;
}

.player-data{
    padding: 0px;
    margin: 0px;
}

.play_button{
    background-color: #212529;
    border: none;
    border-radius: 200px;
    color: white;
    padding: 30px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    font-size: 1.5em;
}

#seekbar{
    width: 45%;
} 

#volume_ctrl{
    max-width: 5vw;
    min-width: 30px;
    padding-right: 4px;
}

#audio_player{
    min-height: 200px;

}

#vol_icon{
    transform: translateY(4px);
}

h4, p{
    margin: 0;
    padding: 0;
    padding-left: 2%;
}

h4{
    font-size: 50px;
    font-weight: bold;
}

p{
    font-size: 25px;
    padding-bottom: 4px;
}

#current_duration{
    padding-left: 7px;
    
}

#total_duration {
    padding-right: 10px;
}

#btn{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0px;
    padding-bottom: 0px;
}

input[type = "range"]::-webkit-slider-thumb {
    background-color: var(--primary);
}

input[type = "range"]::-moz-range-thumb {
    background-color: var(--primary);
}

input[type = "range"]::-ms-thumb {
    background-color: var(--primary);
}